html,body{
	height:100%;
	
}

html,body,*{
	font-family: 'robotoblack';
}

body.no-scroll{
	/*overflow-x: hidden;
	overflow-y: hidden;*/
	overflow: hidden !important;
}

body.menu-visible{
	background: #fff;
}
body{
  background:#3F769C url('img/bg1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


nav .navigation{
	margin:0;
	padding: 0;
	/*padding: 16px 0;*/
	height: 60px;
	background:#336699;

}

nav .navigation li{
  display: inline-block;
  float: left;
  font-size: 20px;
  color: #fff;
  padding: 13px 0;
  height: 60px;
}

nav .navigation li.nav-search{
	padding-right:15px;
	width: 15%;
}
nav .navigation li.nav-search a{
	float: right;
	font-size: 25px;
	color: #fff;
}
nav .navigation li.nav-open{
	padding-left:15px;
	width: 15%;
}
nav .navigation li.nav-open a{
	font-size: 25px;
	color: #fff;
}
nav .navigation li.nav-title{
  text-align: center;
  font-size: 21px;
  width: 70%;
  font-weight: bold;
  text-transform: capitalize;
}


/*jquery added hight*/
.js-auto-height{
	background: #fff;
}
.js-auto-height--gray{
	background: #DCDCDB;
}
.background--gray{
	background: #E8E9EA;
}

a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.search-container{
	display: block;
	background: #DCDCDB;
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.search-container input{
	width: 100%;
	height: 40px;
	padding: 15px 23px;
}

.search-container.show-searchbar{
	height: 70px;
	opacity: 100;
	overflow: visible;
	padding:15px 20px;
}



.contain-content{
	padding:0 15px;
}

.center-element{
	margin: 0 auto;
	float: none;
	display: block;
	text-align: center;
}

.nopad{
	padding:0 !important;
}

.nopad{
	padding:0 !important;
}

.nomargin{
	margin-right: 0 !important;
	margin-left: 0 !important;
}