.top-btns{
	margin: 20px 0;
}
.top-btns .btn{
width: 165px;
}

.news-listings{
	padding:0 15px 80px 15px;
}
.news-listings a{
	border:1px solid #C9CACA;
	display:block;
	padding:9px 15px;
	margin-bottom:10px;
	border-bottom:6px solid #C9CACA;
	background: #fff;
}

.news-listings__title{
	font-size:15px;
}
.news-listings__date{
	color:#A29999;
}
.news-listings__content{
	color:#333342;
	padding-bottom: 60px;
}


.news-big-listings{
	border:1px solid #C9CACA;
	display:block;
	padding:9px 15px;
	margin-bottom:10px;
	border-bottom:6px solid #C9CACA;
	position: relative;
	background: #fff;
}

.prev-next-container{
	position: absolute;
	width: 100%;
	top:28%;
}

.prev-next-container__prev,
.prev-next-container__next{
	font-size:60px;
	color:rgba(0,0,0,0.5);
}
.prev-next-container__prev{
	float: left;
}
.prev-next-container__next{
	float: right;
}

/*
```
<div class="announcement-blocks">
	<h1 class="announcement-blocks__title"></h1>
	<p class="announcement-blocks__subtitle"></p>
</div>
```
*/

.announcement-blocks{
	text-align: center;
	padding: 20px 50px;
}

.announcement-blocks__title{
	color: #4C8FBC;
	font-weight: bold;
}
.announcement-blocks__subtitle{
	color: #A39999;
}