.content-wrapper{
	min-height: 100px;
}
.content-wrapper--gray{
	background: #E8E9EA
}
.content-wrapper--white{
	background: #fff
}

.content-wrapper--padded-sm{padding: 15px}
.content-wrapper--padded-md{padding: 30px}
.content-wrapper--padded-lg{padding: 45px}
.content-wrapper--padded-sm-rl{padding: 0 15px}
.content-wrapper--padded-sm-tb{padding: 15px 0}
.content-wrapper--padded-md-rl{padding: 0 30px}
.content-wrapper--padded-md-tb{padding: 30px 0}
.content-wrapper--padded-lg-rl{padding: 0 45px}
.content-wrapper--padded-lg-tb{padding: 45px 0}


.dz-preview{
	position:relative;
	display:inline-block;
}
.dz-success-mark{
	display:inline-block;
	position:absolute;
	top:0;
	display:none !important;
}
.dz-image{}
.dz-image img{
	width:120px;
	height:120px;
}
.dz-error-mark{
	display:inline-block;
	position:absolute;
	top:-4px;
	left:0;
	font-size:16px
}
.dz-error-mark{
	display:inline-block;
	position:absolute;
	top:0px;
	left:4px;
	font-size:20px;
	color:#DDD;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 5);
	cursor:pointer;
}
.dz-details{
		display:none;
}
.dz-error-message{
  display: block;
  width: 120px;
  position: absolute;
  top: 28px;
  padding: 0 8px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  font-size: 14px;
  font-weight: bold;
}

.dz-progress .progress{
  height: 9px;
  border-radius: 0;
}