.credit-count-container{
	text-align: center;
}
.credit-count-container > *{
		margin: 5px 0;

}

.information{
	font-size: 18px;
}

.information .fa,
.information .icon,
.information .glyphicon{
	color:#1A6892;
	font-size: 40px;
	vertical-align: middle;
}

.usercontrol-edit-profile{

}
.usercontrol-edit-profile__image img{
	margin: 0 auto;
	padding:20px 0 ;
}
.usercontrol-edit-profile__links{
	margin:0;
	padding:0;
}

.usercontrol-edit-profile__links li{
	display:block;
	width:100%;
	text-indent:10%;
	margin:15px 0;
}
.usercontrol-edit-profile__links li a{
	text-transform:capitalize;
}
.usercontrol-edit-profile__links li a .fa{
	margin-right:15px;
	font-size:20px;
	vertical-align:middle;
}

.usercontrol-edit-profile .input-group{
	
	text-align:center;
	margin:45px auto 0 auto;
}

.usercontrol-edit-profile .input-group label{
	font-weight:normal;
}
.usercontrol-edit-profile .input-group .form-control{
	font-weight:normal;
	height:45px
}



/*
ACCORDION FOR FREQUENTLY ASKED QUESTIONS
*/

.faq-accordion{
	
}

.accordion-panel__body-head a{
	display:block;
	padding:20px 21px;
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(242,242,242,1) 59%, rgba(231,231,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(59%,rgba(242,242,242,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.accordion-panel__body-head a .fa{
 float:right;
}

.accordion-panel__body{
    border-top:1px solid #ccc;
    border-bottome:1px solid #ccc;
}

.accordion-panel__body-content{
	padding:20px;
}

/*
Frequnetly Asked Questions
*/

.faq-container__title{
	font-size:21px
}
.faq-container__title-container{
	padding:15px 20px;

}

/*SEARCH*/
.how-to__search {
	padding:20px 20px;
}
.how-to__search input[type=text]{
	display:block;
	height:50px;
	width:100%;
	margin:0 auto;
	padding:5px 15px;
}


.how-to__search .form-control-feedback{
	font-size:30px;
	margin:8px;
	color: #878787;
}
.how-to__results{
	padding:10px 20px;
}

.how-to__results a{
	color:#000;
	display:block;
	padding:20px 0 20px 0;
	text-indent:12px;
	border-bottom:2px solid #ccc;
}
/*SEARCH*/


/*SYSTEM INFO*/
.system-info{
	padding:10px 20px;
}
.system-info__header{
	text-align:center;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}

.system-info__contents{
	text-align:center;
}

.system-info__contents p{
	font-size: 19px;
	font-weight: bold;
}