.chat-login__title{
	text-align: center;
	padding:15px;
	font-size:26px;
	margin:0;
}

/*Accordion*/

.chat-accordion-panel__body-head a{
	display:block;
	padding:15px 0 15px 35px;
	color:#000;
	font-weight: bold;
	font-size:16px;
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(242,242,242,1) 59%, rgba(231,231,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(59%,rgba(242,242,242,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(242,242,242,1) 59%,rgba(231,231,231,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.chat-accordion-panel__body-head a .logo{
	margin:0 20px 0 0;
}


.chat-accordion-panel__body{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.chat-accordion-panel__body-content{
	padding:15px 40px;
	background: #D1D1D1;
}

.chat-accordion-panel__body-content input[type="text"],
.chat-accordion-panel__body-content input[type="password"]{
/*.chat-accordion-panel__body-content .form-control{*/
	border: 1px solid #669999;
	border-radius: 0;
}
.cbtn-container{
	text-align: center;
}
.chat-accordion-panel__body-content input{
	height:60px;
	padding:10px 15px;
}
.chat-accordion-panel__body-content input{
	height:60px;
	padding:10px 15px;
}
.chat-accordion-panel__body-content input[type=submit]{
	width:170px;
	margin:20px 0 0 0;
}


/*Login Backgrounds*/
.chat-accordion-panel__body-content#yahoocontainer{
  background: #D1D1D1 url('img/bg/yahoo5.png') 94% 100% no-repeat;
  background-size: 205px 104px;
}
.chat-accordion-panel__body-content#googlecontainer{
  background: #D1D1D1 url('img/bg/google125.png') 94% 100% no-repeat;
  background-size: 213px 140px;
}


/*online list*/
/*
```
<ul class="online-list">
	<li>
		<span class="online-list__name"></span>
		<span class="online-list__status online"></span>
	</li>
	<li>
		<span class="online-list__name"></span>
		<span class="online-list__status offline"></span>
	</li>
</ul>
```
*/
.chat-header{
		  padding: 0 0 0 20px;
	  background: rgb(254,254,254); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(241,241,241,1) 54%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(54%,rgba(241,241,241,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(241,241,241,1) 54%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(241,241,241,1) 54%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(241,241,241,1) 54%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(241,241,241,1) 54%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #C4C4C4;
}
.chat-header__link,
.chat-header__logo{
	display: inline-block;
}

.chat-header__link{
  float: right;
  font-size: 26px;
  padding: 10px;
}



.online-list{
	margin: 0;
	padding: 0;
}

.online-list li{
	display: block;
	width: 100%;
	border:1px solid #C1D1D9;
	border-left: none;
	border-right: none;
}

.online-list li:hover,
.online-list li.current{
	background: #E7F3F7;
}

.online-list li a{
	color: #333;
	font-weight: bold;
	font-size: 20px;
	display: block;
	padding: 15px 30px;
}

.online-list__status{
	display: inline-block;
	width: 20px;
	height:20px;
	border-radius: 50px;
	border:1px solid ##CCCCCC;
	background: #CCCCCC;
	float: right;
	/*margin-right: 25px;*/
}

.online-list__status.online{
	border:1px solid #71CC36;
	background: #71CC36;
}


/*chate heads message*/
.message-list-container{
	padding: 10px 0 110px 0
}
.message-list{
	margin:0;
	padding: 0;
}

.message-list li{
	display: block;
	list-style: none;
	margin: 20px 0;
	max-width: 90%;
	min-width:50%;
	background: #B6E1E0;
	position: relative;
	border: 1px solid #A1C8DB;
	padding:15px 20px;
	float: left;
}

.message-list li a{
	font-weight: bold;
	color:#135C80;
}

.message-list li:after, .message-list li:before {
	bottom: 100%;
	right: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.message-list li:after {
	border-color: rgba(182, 225, 224, 0);
	border-bottom-color: #B6E1E0;
	border-width: 16px;
	margin-left: -16px;
}
.message-list li:before {
	border-color: rgba(161, 200, 219, 0);
	border-bottom-color: #A1C8DB;
	border-width: 17px;
	margin-left: -17px;
}

.message-list li.message-list__reply{
	float: right;
}


.message-list li.message-list__reply {
	position: relative;
	background: #C2C0B4;
	border: 1px solid #A1C8DB;
}
.message-list li.message-list__reply a{
	color: #4F4E4A;
}

.message-list li.message-list__reply:after, .message-list li.message-list__reply:before {
	top: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.message-list li.message-list__reply:after {
	border-color: rgba(194, 192, 180, 0);
	border-top-color: #C2C0B4;
	border-width: 16px;
	margin-left: -16px;
}
.message-list li.message-list__reply:before {
	border-color: rgba(161, 200, 219, 0);
	border-top-color: #A1C8DB;
	border-width: 17px;
	margin-left: -17px;
}


.chat-textarea{
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-top: 2px solid #ccc;
	position: fixed;
}

.chat-textarea__textarea{
	width: 200%;
	height: 100px;
	padding: 15px 120% 20px 15px;
}

.chat-textarea__send{
	position:absolute;
	bottom:15px;
	right:15px;
	font-size:50px

}
