@font-face {
    font-family: 'exo2';
    src: url('fonts/exo2.0-regular-webfont.eot');
    src: url('fonts/exo2.0-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo2.0-regular-webfont.woff2') format('woff2'),
         url('fonts/exo2.0-regular-webfont.woff') format('woff'),
         url('fonts/exo2.0-regular-webfont.ttf') format('truetype'),
         url('fonts/exo2.0-regular-webfont.svg#exo_2.0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}