.internet-container{

}

.internet-loading-container{
	text-align: center;
}

.internet-loading-logo{
	text-align: center;
	margin: 0 20px 20px 20px;
	font-size:150px;
}
.internet-loading-title{
  font-size: 35px;
  color: #666666;	
}
.internet-loading-subtitle{
	text-align: center;
	color: #666666;	
	font-size: 20px;
}


.internet-connection-info__top{
  text-align: center;
  padding: 17px 100px 1px 10px;
  background: #E8E9EA;
  border-bottom: 1px solid #BCBCBC;
}
.internet-connection-info__bot{
  padding: 20px 0;
}

.internet-connection-info__top label{
	margin:15px 0 0 0;
	font-size: 17px;
}

.internet-connection-info__title{
	text-align: center;
	font-size: 30px;
}
.internet-connection-info__note{
	text-align: center;
	font-size: 19px;
	padding: 20px 60px;
}


