.boat{
  width: 40px;
  position: relative;
  /* margin: -4px -8px 3px 0; */
  right: -6px;
  top: -4px;
}

.image-icons{
	width: 35px;
}

.menu-image-icons{
	width: 30px;
	height: 30px;
	margin-right: 20px;
	display: inline-block;
}

.menu-image-profile-icons{
	width: 50px;
	height: 50px;
	margin-right: 20px;
	display: inline-block;
}

.menu-font-icon{
	  font-size: 24px;
  margin: 0 40px 0 -14px;
  width: 24px;
}